/*Stylesheet by Matthew Smith*/
/*#mapid { height: 400px; }
.leaflet-popup-content p {
    margin: 0.2em 0;
}*/

#mapid {
    height: 800px;
    /*width: 80%;*/
	width:100%;
    display: inline-block;
}

/*#panel {
    width: 16%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}*/
/*.range-slider {
    width: 50%;
}*/

#forward {
   
	
}

#reverse {
   
}
#between {
	/*float: middle;*/

}
#five {
	
	
}
#one {
	/*float: down;*/

	
	
}
#hidden{
	/*
	width: 50px;
    height: 50px;
	*/
	
    height:20px;
	position:relative; 
	margin: -20px -50px; 
	width:100px; 
	top:50%; 
	left:50%;
}
#hiddenTitle{
	    height:100px;
	
	
	width:30px; 
	float: right;
	
	
}
.range-slider {
    width: 200px;
	
}

.sequence-control-container {
    width: 390px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
	float: bottom;
	
}
.filter-control-container {
    width: 30px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
	/*background-color:null;*/
    padding: 10px;
    line-height: 25px;
    text-align: center;
    border: solid gray 1px;
	/*border:null;*/
	left: 370px;
	position: absolute;
	
}
.legend-control-container {
   
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
	float: bottom;
	
}
.title-control-container {
	line-height: 50px;
	white-space: pre-wrap;
	font-size:30px;
    width: 400px;
    height: 100px;
    background-color: rgba(255,255,255,0.8);
	/*background-color:null;*/
    padding: 10px;
    line-height: 25px;
    text-align: center;
    border: solid gray 1px;
	top:50%; 
	/*border:null;*/
	
	
}
/*.legend-control-container'{

    width: 350px;
    height: 350px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}*/

